# Campanile Accelerometers

Welcome! Throughout this notebook you will using data science methods to analyze data collected from 4 accelerometers attached to the Campanile.

*Add more context*

### Learning Objectives
1.

<br> 

## Table of Contents
1. [Introduction to Jupyter Notebooks](#1)
2. [Importing the Data](#2)
3. [Normalizing the Data](#3)
4. [Analysis: Bell Ringing](#4)

<br>

## Introduction to Jupyter Notebooks <a class="anchor" id="1"></a>

This lab is set up in a Jupyter Notebook. Notebooks can contain anything from live code, to written text, equations or visualizations. The content of notebooks are written into rectangular sections called **cells**.

#### Types of Cells
There are two types of cells in Jupyter, **code** cells and **markdown** cells. **Code cells**, as you can imagine, contain code in Python, the programming language that we will be using throughout this notebook.  **Markdown cells**, such as this one, contain written text. You can select any cell by clicking on it one.

#### Running Cells
'Running' a cell is similar to pressing 'Enter' on a calculator once you've typed in an expression; it computes all of the expressions contained within the cell.

To run a cell, you can do one of the following:

- press **Shift + Enter**
- click the **Run** button on the top tool bar

Running a markdown cell will embed the text into the notebook and running a code cell will evaluate the code and display its output under the cell. 

Let's try it! **Run the code cell below.**

In [5]:
print("Hello World!")

Hello World!

#### Editing and Saving

- To **edit** a cell, simply double click on the desired cell and begin typing. The cell that you are currently working in will be highlighted by a green box.
- To **save** the notebook, either click *Ctl + S* or navigate to the "File" dropdown and select "Save and Checkpoint"

**Remeber to run the code cell below before beginning the lab!** The code below will load various libraries and packages that are needed throughout this notebook.

In [3]:
#Libraries and Packages
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import matplotlib.gridspec as gridspec
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import matplotlib.mlab as mlab

from plotly.subplots import make_subplots
from IPython.display import display, Image
from scipy import signal
#from scipy.fft import fftshift

<br>

## Importing the Data<a class="anchor" id="2"></a>

We will begin by first importing the data set into the notebook.

In [5]:
ne_df_original = pd.read_csv('sather_tower_files/NorthEast.csv')
ne_df_original.head(5)

,Sample No.,time[sec],Ax[mG],Ay[mG],Az[mG],ATotal[mG],Ts[deg.C]
0,1,0.000,1002.844572,12.062907,10.852396,1002.975834,15.4248
1,2,0.002,1002.829492,12.024105,10.839164,1002.960147,15.4248
2,3,0.004,1002.837181,12.014031,10.863066,1002.967973,15.4248
3,4,0.006,1002.841711,12.053967,10.904431,1002.973430,15.4248
4,5,0.008,1002.827466,12.071192,10.914207,1002.959500,15.4248

In [6]:
##Talk about what the data is 
##Where it comes from 
##How the accelerometer works 
##Many add pictures of Campanile

<br>

## Normalizing the Data<a class="anchor" id="3"></a>

In [7]:
#Highlight practical use of mechE in data science 
#Go through how we processed and sampled the data. 
#Talk about Fourier Transform. 
#Transforming acceleration data into displacement data using digital integration

<br>

## Analysis: Bell Ringing <a class="anchor" id="4"></a>